body{
    background-color: bisque;
    padding: 0%;
    margin: 0%;
}
#navbar{
height: 90px;
background-color: white;
font-family: 'Source Sans Pro', sans-serif;
display: flex;
}
.logo-float{
    display: inline-block;
    margin-top: 24px;
    padding-left: 40px;
}